.like-result{
	margin-top: 200px;
	margin-bottom: 100px;
	.container{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		background: #CA6BE5;
		box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.15);
		border-radius: 20px;
	}
	&__image{
		margin-top: -90px;
		margin-bottom: -4px;
		margin-left: -15px;
	}
	&__title{
		margin-bottom: 30px;
		h3{
			font-family: Evolventa, sans-serif;
			font-weight: bold;
			font-size: 36px;
			letter-spacing: 0.05em;
			color: #ffffff;
		}
		p{
			font-family: Evolventa, sans-serif;
			font-weight: bold;
			font-size: 25px;
			letter-spacing: 0.05em;
			color: #ffffff;
		}
	}
	&__content{
		margin-bottom: 25px;
		margin-right: 10px;
	}
	&__items{
		display: flex;
		justify-content: space-between;
	}
	&__item{
		span{
			display: block;
			font-family: Evolventa, sans-serif;
			font-size: 16px;
			color: #ffffff;
		}
		a{
			font-family: Evolventa, sans-serif;
			font-weight: bold;
			font-size: 25px;
			letter-spacing: 0.05em;
			color: #ffffff;
		}
		button{
			cursor: pointer;
			font-family: Evolventa, sans-serif;
			font-weight: bold;
			font-size: 20px;
			letter-spacing: 0.05em;
			color: #CB6CE6;
			background: #FFFFFF;
			box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.15);
			border-radius: 15px;
			border: none;
			padding: 22px 18px;
		}
	}
}