@font-face {
	font-family: 'Montserrat EB';
	src: url('../fonts/Montserrat-ExtraBold.eot');
	src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
		url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
		url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
		url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Bold.woff2') format('woff2'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype'),
		url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Evolventa';
	src: url('../fonts/Evolventa-Regular.eot');
	src: url('../fonts/Evolventa-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Evolventa-Regular.woff2') format('woff2'),
		url('../fonts/Evolventa-Regular.woff') format('woff'),
		url('../fonts/Evolventa-Regular.ttf') format('truetype'),
		url('../fonts/Evolventa-Regular.svg#Evolventa-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Evolventa';
	src: url('../fonts/Evolventa-Bold.eot');
	src: url('../fonts/Evolventa-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Evolventa-Bold.woff2') format('woff2'),
		url('../fonts/Evolventa-Bold.woff') format('woff'),
		url('../fonts/Evolventa-Bold.ttf') format('truetype'),
		url('../fonts/Evolventa-Bold.svg#Evolventa-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype'),
		url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body{
	background: #F6F9FC;
}

a{
	text-decoration: none;
}

.container{
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;
}

.row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn-purple{
	font-family: Evolventa, sans-serif;
	border: none;
	background: linear-gradient(90deg, #8D52FE 0%, #CA6CE7 100%);
	border-radius: 10px;
	color: white;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	&:hover{
		background: #8C52FF;
	}
}